---
import GlobalMenuItem from '../GlobalMenuItem/GlobalMenuItem.astro'

export interface Props {
  menuList: {
    title: string
    href: string
  }[]
}

const { menuList } = Astro.props
---

<nav>
  <div class="inner">
    {menuList.map((item) => <GlobalMenuItem title={item.title} href={item.href} />)}
  </div>
</nav>

<style lang="scss">
  nav {
    @include mqw-down {
      position: absolute;
      top: var(--header-h-sm);
      left: 0;
      visibility: hidden;
      width: 100%;
      background-color: var(--color-white);
      opacity: 0;

      @include is-open-menu {
        visibility: visible;
        opacity: 1;
        transition: $com-ms $com-es;
      }
    }
  }

  .inner {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-auto-rows: auto;
    gap: 0 rem(20);
    column-gap: rem(20);

    @include mqw-down {
      grid-template-columns: repeat(1, auto);
    }
  }
</style>
