.bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__button {
    padding: 1rem 1.5rem;
    margin-top: 0.5rem;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow:
      0 1px 3px 0 rgb(0 0 0 / 10%),
      0 1px 2px -1px rgb(0 0 0 / 10%);
  }
}
