@charset "utf-8";

@use 'sass:map';
@use 'sass:math';
@use '../variables' as *;
@use '../mixin' as *;
@use '../functions' as *;

.u-animation {
  $delay: 0ms;

  &[data-animation='fade-in-up'] {
    opacity: 0;
    translate: 0 rem(20);
    will-change: translate, opacity;

    &.is-animation {
      opacity: 1;
      translate: 0 0;
      transition:
        translate var(--long-ms) var(--long-es),
        opacity var(--long-ms) var(--long-es);
      transition-delay: 100ms;
    }
  }

  &[data-animation='fade-in-long-up'] {
    opacity: 0;
    translate: 0 rem(30);
    will-change: translate, opacity;

    &.is-animation {
      opacity: 1;
      translate: 0 0;
      transition:
        translate var(--long-ms) var(--long-es),
        opacity var(--long-ms) var(--long-es);
      transition-delay: 100ms;
    }
  }

  &[data-animation='fade-in-rl'] {
    opacity: 0;
    translate: rem(20) 0;
    will-change: translate, opacity;

    &.is-animation {
      opacity: 1;
      translate: 0 0;
      transition:
        opacity var(--long-ms) var(--long-es),
        translate var(--long-ms) var(--long-es);
      transition-delay: 100ms;
    }
  }
}
