@charset "utf-8";

@use 'sass:map';
@use 'sass:math';
@use '../variables' as *;
@use '../mixin' as *;
@use '../functions' as *;

.u-visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip-path: inset(50%);
}
