.button {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--header-h-md);
  height: var(--header-h-md);
  background-color: #000;

  @include mqw-down {
    width: var(--header-h-sm);
    height: var(--header-h-sm);
  }

  span {
    $color: #fff;
    $height: 1px;
    $width: calc(100% - rem(38));
    $line-space: rem(10);

    position: relative;
    width: $width;
    height: $height;
    background-color: $color;
    transition: $com-ms $com-es;

    &::before,
    &::after {
      @include icon-ini;

      position: absolute;
      width: 100%;
      height: $height;
      background-color: $color;
      transition: $com-ms $com-es;
      will-change: transform;
    }

    &::before {
      top: #{-$line-space};
      left: 0;
    }

    &::after {
      bottom: #{-$line-space};
      left: 0;
    }

    @include is-open-menu {
      background: none;

      &::before {
        top: calc(50%);
        transform: rotate(135deg);
      }

      &::after {
        top: calc(50%);
        transform: rotate(-135deg);
      }
    }
  }
}

.bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  visibility: hidden;
  width: 100%;
  height: 100%;
  background-color: rgba(#000, 0.8);
  opacity: 0;
  transition: $com-ms $com-es;
  will-change: opacity;

  @include is-open-menu {
    visibility: visible;
    opacity: 1;
  }
}
