@charset "utf-8";

@use 'sass:map';
@use 'sass:math';
@use './variables' as *;
@use './mixin' as *;

* {
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: border-box;
  }

  &::selection {
    background-color: rgba(map.get($map: $colors, $key: color-black), 0.1);
  }
}

html {
  @include letter-spacing(50);

  height: 100%;
  font-family: $font-family;
  font-size: 16px;
  line-height: math.div(33, 14);
  color: map.get($map: $colors, $key: color-black);
  background-color: #f6f6f6;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgb(#000, 0);
  scroll-behavior: smooth;
  @include mqw-down {
    padding: 0 env(safe-area-inset-right) 0 env(safe-area-inset-left);
  }
}

body {
  position: relative;
  width: 100%;
  min-height: 100%;
  word-wrap: break-word;
  text-size-adjust: none;

  @include mq(retina2x) {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

a {
  color: inherit;
  text-decoration: none;

  &[href^='tel:'] {
    @include mqw-up {
      pointer-events: none;
    }
  }
}

// image

img,
svg,
video {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

picture {
  display: block;

  img {
    width: 100%;
    height: auto;
  }
}

svg {
  width: 100%;
  height: 100%;
}

// table

table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;

  th,
  td {
    word-break: break-all;
  }
}

ul,
ol {
  list-style: none;
  list-style-position: inside;
}

sup {
  top: -0.7em;
  font-size: 50%;
  line-height: inherit;
  vertical-align: unset;

  @include mqw-down {
    top: -0.4em;
    font-size: rem(10);
  }
}
