@charset "utf-8";

// ============================================
// SCSS VARIABLES - Breakpoints
// ============================================

// break point - width
$breakpoint-w: (
  xl2: 1860px,
  xl: 1600px,
  lg: 1440px,
  xmd: 1280px,
  md: 768px,
  sm: 640px,
  xs: 375px,
  xxs: 320px
) !default;

// break point - height
$breakpoint-h: (
  lg: 910px,
  xmd: 845px,
  md: 668px,
  sm: 510px,
  xs: 380px
) !default;
