@charset "utf-8";

// plugins
@use 'ress/ress.css';
@use '@fontsource/noto-sans-jp/400.css' as *;
@use '@fontsource/noto-sans-jp/500.css' as *;
@use '@fontsource/noto-sans-jp/700.css' as *;

// base
@use './base';

// Utilities
@use './Utilities/u-plugins';
@use './Utilities/u-mqw';
@use './Utilities/u-animation';
