<div class="baz">
  <h3>Baz Component</h3>
  <button id="increment-button" class="baz__button">count is count</button>
</div>

<style lang="scss">
  .baz {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__button {
      padding: 1rem 1.5rem;
      margin-top: 0.5rem;
      background-color: #fff;
      border-radius: 0.5rem;
      box-shadow:
        0 1px 3px 0 rgb(0 0 0 / 10%),
        0 1px 2px -1px rgb(0 0 0 / 10%);
    }
  }
</style>

<script>
  import { count } from '@store/atoms/count'

  // Get the increment button element
  const incrementButtonElement = document.getElementById('increment-button')
  if (incrementButtonElement) {
    const renderCount = () => {
      const value = count.get()
      incrementButtonElement.textContent = `count is ${value}`
    }

    // Subscribe to count changes
    count.subscribe(renderCount)

    incrementButtonElement.addEventListener('click', () => {
      count.set(count.get() + 1)
    })

    // 初期値を設定
    renderCount()
  }
</script>
