---
import Layout from '@layouts/Layout.astro'
import Spacer from '@layouts/Spacer.astro'
const { BASE_URL } = import.meta.env
---

<Layout pageName="about">
  <main class="mx-auto max-w-4xl">
    <Spacer>
      <h1 class="text-5xl font-bold leading-[2.5]">About</h1>
      <a href={BASE_URL}>戻る</a>
    </Spacer>
  </main>
</Layout>
