---
import CustomPicture from '@components/UI/CustomPicture/CustomPicture.astro'
import Layout from '@layouts/Layout.astro'
import Spacer from '@layouts/Spacer.astro'
const { BASE_URL } = import.meta.env
---

<Layout pageName="about">
  <main class="mx-auto max-w-4xl">
    <Spacer>
      <h1 class="text-5xl font-bold leading-[2.5]">About</h1>
      <div class="flex flex-col items-center gap-2">
        <CustomPicture
          src="/assets/images/img__lg.png"
          alt="ダミーテキスト"
          lazy={true}
          srcset={{
            sm: '/assets/images/img__sm.png',
            lg: '/assets/images/img__lg.png'
          }}
        />
        <CustomPicture
          src="/assets/images/img_quality_check.jpg"
          alt="ダミーテキスト"
          lazy={true}
          srcset={{
            lg: '/assets/images/img_quality_check.jpg'
          }}
        />
        <a href={BASE_URL}>戻る</a>
      </div>
    </Spacer>
  </main>
</Layout>
