---
import LocalImage from '@/components/UI/LocalImage/LocalImage.astro'
import LocalPicture from '@/components/UI/LocalPicture/LocalPicture.astro'
import RemoteImage from '@/components/UI/RemoteImage/RemoteImage.astro'
import Layout from '@/layouts/Layout.astro'
import MainContainer from '@/layouts/MainContainer.astro'
import Spacer from '@/layouts/Spacer.astro'
const { BASE_URL } = import.meta.env
---

<Layout pageName="about">
  <MainContainer>
    <Spacer>
      <h1 class="page-title">About</h1>
      <div class="content-wrapper">
        <section class="content-section">
          <h3 class="content-section__title">Use LocalPicture Component</h3>
          <p>
            <code>sm</code> size and <code>lg</code> size are specified by <code>src</code> attribute and <code
              >srcset</code
            > attribute.
          </p>
          <LocalPicture
            src="/assets/images/img__lg.webp"
            alt="ダミーテキスト"
            srcset={{
              sm: ['/assets/images/img__sm.webp 1x'],
              lg: ['/assets/images/img__lg.webp 1x']
            }}
          />
        </section>
        <section class="content-section">
          <h3 class="content-section__title">Use LocalPicture Component</h3>
          <p>Only <code>lg</code> size is specified by <code>src</code> attribute and <code>srcset</code> attribute.</p>
          <LocalPicture
            src="/assets/images/img_quality_check.webp"
            srcset={{
              lg: ['/assets/images/img_quality_check.webp 1x']
            }}
          />
        </section>
        <section class="content-section">
          <h3 class="content-section__title">Use LocalImage Component</h3>
          <LocalImage src="/assets/images/img_quality_check.webp" />
        </section>
        <section class="content-section">
          <h3 class="content-section__title">Use RemoteImage Component</h3>
          <RemoteImage src="https://placehold.jp/3d4070/ffffff/300x300.png?text=Remote%20Image" />
        </section>
        <a href={BASE_URL}>戻る</a>
      </div>
    </Spacer>
  </MainContainer>
</Layout>

<style lang="scss">
  .page-title {
    font-size: 3rem;
    font-weight: bold;
    line-height: 2.5;
  }

  .content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    align-items: center;
    letter-spacing: normal;
  }

  .content-section {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    align-items: flex-start;
    width: 100%;
    padding: 1.25rem;
    background-color: #fff;
    border-radius: 0.5rem;

    &__title {
      font-size: 1.5rem;
    }
  }

  code {
    padding: 0.3em 0.45em;
    font-size: 0.875em;
    font-weight: bold;
    background-color: #f7fafc;
    border: 1px solid #e2e8f0;
    border-radius: 4px;
  }
</style>
