---
import Bar from '@components/Bar/Bar'
import Baz from '@components/Baz/Baz.astro'
import Card from '@components/Card/Card.astro'
import Foo from '@components/Foo/Foo'
import Layout from '@layouts/Layout.astro'
import MainContainer from '@layouts/MainContainer.astro'
import Spacer from '@layouts/Spacer.astro'
import GetPath from '@utils/getPath'
---

<Layout pageName="top">
  <MainContainer>
    <Spacer>
      <h1 class="page-title">Welcome to <span class="text-gradient">Acty</span></h1>
      <p class="instructions">
        To get started, open the directory <code>src/pages</code> in your project.<br />
        <strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
      </p>
      <ul class="link-card-grid">
        <Card href={GetPath('about/')} title="about" body="Learn how Astro works and explore the official API docs." />
        <Card
          href="https://astro.build/integrations/"
          title="Integrations"
          body="Supercharge your project with new frameworks and libraries."
        />
        <Card
          href="https://astro.build/themes/"
          title="Themes"
          body="Explore a galaxy of community-built starter themes."
        />
        <Card
          href="https://astro.build/chat/"
          title="Community"
          body="Come say hi to our amazing Discord community. ❤️"
        />
      </ul>
      <div class="demo-section">
        <h2 class="demo-section__title">JSX Elements</h2>
        <Foo client:only="react" />
        <Bar client:only="react" />
      </div>
      <div class="demo-section">
        <h2 class="demo-section__title">Vanilla HTML Elements</h2>
        <Baz />
      </div>
    </Spacer>
  </MainContainer>
</Layout>

<style lang="scss">
  .page-title {
    font-size: 3rem;
    font-weight: bold;
    line-height: 2.5;
  }

  .instructions {
    padding: 1rem;
    margin: 1rem 0;
    line-height: 1.6;
    background-color: var(--color-white);
    border: 1px solid rgb(var(--accent) 25%);
    border-radius: 0.4rem;

    code {
      padding: 0.3em 0.45em;
      font-size: 0.875em;
      font-weight: bold;
      border-radius: 4px;
    }
  }

  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 1rem;
    padding: 0;

    @include mqw-down {
      grid-template-columns: repeat(1, auto);
    }
  }

  .demo-section {
    display: grid;
    gap: 1rem;
    padding: 1rem;
    margin-top: 2.5rem;
    border: 1px dashed #000;
    border-radius: 0.5rem;

    &__title {
      font-size: 1.125rem;
    }
  }
</style>
