---
import Bar from '~/components/Bar'
import Card from '~/components/Card.astro'
import Foo from '~/components/Foo'
import Layout from '~/layouts/Layout.astro'
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>Welcome to <span class="text-gradient">Astro</span></h1>
    <p class="instructions">
      To get started, open the directory <code>src/pages</code> in your project.<br />
      <strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
    </p>
    <ul class="link-card-grid">
      <Card
        href="https://docs.astro.build/"
        title="Documentation"
        body="Learn how Astro works and explore the official API docs."
      />
      <Card
        href="https://astro.build/integrations/"
        title="Integrations"
        body="Supercharge your project with new frameworks and libraries."
      />
      <Card
        href="https://astro.build/themes/"
        title="Themes"
        body="Explore a galaxy of community-built starter themes."
      />
      <Card
        href="https://astro.build/chat/"
        title="Community"
        body="Come say hi to our amazing Discord community. ❤️"
      />
    </ul>
    <div class="mt-10 grid gap-4 rounded-lg border border-dashed border-black p-4">
      <h2 class="text-lg">JSX Elements</h2>
      <Foo client:load />
      <Bar client:load />
    </div>
  </main>
</Layout>

<style>
  main {
    max-width: 60ch;
    padding: 1.5rem;
    margin: auto;
  }

  h1 {
    margin: 0;
    font-size: 3rem;
    font-weight: 800;
  }

  .text-gradient {
    background-image: var(--accent-gradient);
    background-position: 0%;
    background-clip: text;
    background-size: 400%;
    -webkit-text-fill-color: transparent;
  }

  .instructions {
    padding: 1rem;
    margin: 1rem 0;
    line-height: 1.6;
    background-color: white;
    border: 1px solid rgb(var(--accent) 25%);
    border-radius: 0.4rem;
  }

  .instructions code {
    padding: 0.3em 0.45em;
    font-size: 0.875em;
    font-weight: bold;
    color: rgb(var(--accent));
    background: rgb(var(--accent) 12%);
    border-radius: 4px;
  }

  .instructions strong {
    color: rgb(var(--accent));
  }

  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
