---
import Bar from '@components/Bar/Bar'
import Card from '@components/Card/Card.astro'
import Foo from '@components/Foo/Foo'
import Layout from '@layouts/Layout.astro'
import Spacer from '@layouts/Spacer.astro'
import GetPath from '@utils/getPath'
---

<Layout title="Top">
  <main class="mx-auto max-w-4xl">
    <Spacer>
      <h1 class="text-5xl font-bold leading-[2.5]">Welcome to <span class="text-gradient">Acty</span></h1>
      <p class="instructions">
        To get started, open the directory <code>src/pages</code> in your project.<br />
        <strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
      </p>
      <ul class="link-card-grid">
        <Card href={GetPath('about')} title="about" body="Learn how Astro works and explore the official API docs." />
        <Card
          href="https://astro.build/integrations/"
          title="Integrations"
          body="Supercharge your project with new frameworks and libraries."
        />
        <Card
          href="https://astro.build/themes/"
          title="Themes"
          body="Explore a galaxy of community-built starter themes."
        />
        <Card
          href="https://astro.build/chat/"
          title="Community"
          body="Come say hi to our amazing Discord community. ❤️"
        />
      </ul>
      <div class="mt-10 grid gap-4 rounded-lg border border-dashed border-black p-4">
        <h2 class="text-lg">JSX Elements</h2>
        <Foo client:load />
        <Bar client:load />
      </div>
    </Spacer>
  </main>
</Layout>

<style lang="scss">
  .instructions {
    padding: 1rem;
    margin: 1rem 0;
    line-height: 1.6;
    background-color: white;
    border: 1px solid rgb(var(--accent) 25%);
    border-radius: 0.4rem;

    code {
      padding: 0.3em 0.45em;
      font-size: 0.875em;
      font-weight: bold;
      border-radius: 4px;
    }
  }

  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 1rem;
    padding: 0;

    @include mqw-down {
      grid-template-columns: repeat(1, auto);
    }
  }
</style>
