@charset "utf-8";

@use './canhover' as *;

/// ホバー時の透明度変更
/// @param {Number} $opacity - 透明度
/// @param {Number|Boolean} $ms - トランジション時間
/// @param {String|Boolean} $ease - イージング関数
@mixin hover-opacity($opacity: 0.5, $ms: false, $ease: false) {
  @include canhover {
    @if $ease {
      transition: opacity $ms $ease;
    } @else {
      transition: opacity var(--com-ms) var(--com-es);
    }

    &:hover {
      opacity: $opacity;
    }
  }
}
