@charset "utf-8";

@use 'sass:map';
@use '../config' as *;

/// 指定高さ以上（min-height）
/// @param {String} $breakpoint - ブレークポイント名
@mixin mqh-up($breakpoint: md) {
  @media screen and (min-height: map.get($breakpoint-h, $breakpoint)) {
    @content;
  }
}
