@charset "utf-8";

@use 'sass:map';
@use '../config' as *;

/// 指定幅未満（max-width）
/// @param {String} $breakpoint - ブレークポイント名
@mixin mqw-down($breakpoint: md) {
  @media screen and (max-width: map.get($breakpoint-w, $breakpoint) - 1px) {
    @content;
  }
}
