@charset "utf-8";

@use 'sass:map';
@use '../config' as *;

/// 指定幅以上（min-width）
/// @param {String} $breakpoint - ブレークポイント名
@mixin mqw-up($breakpoint: md) {
  @media screen and (min-width: map.get($breakpoint-w, $breakpoint)) {
    @content;
  }
}
