@charset "utf-8";

@use 'sass:math';
@use '../functions' as *;

/// 三角形
/// @param {Number} $width - 幅（px）
/// @param {Number} $height - 高さ（px）
/// @param {Color} $color - 色
/// @param {String} $rotate - 方向 (top, right, bottom, left)
@mixin triangle($width, $height, $color, $rotate) {
  position: absolute;
  width: 0;
  height: 0;
  content: '';
  border-style: solid;

  @if $rotate == 'top' {
    border-color: transparent transparent $color;
    border-width: 0 rem(math.div($width, 2)) #{$height}px rem(math.div($width, 2));
  } @else if $rotate == 'right' {
    border-color: transparent transparent transparent $color;
    border-width: rem(math.div($width, 2)) 0 rem(math.div($width, 2)) #{$height}px;
  } @else if $rotate == 'bottom' {
    border-color: $color transparent transparent transparent;
    border-width: #{$height}px rem(math.div($width, 2)) 0 rem(math.div($width, 2));
  } @else if $rotate == 'left' {
    border-color: transparent $color transparent transparent;
    border-width: rem(math.div($width, 2)) #{$height}px rem(math.div($width, 2)) 0;
  }
}
