<div style="display: none;">
  <svg style="position: absolute">
    <symbol id="icon-arrow" viewBox="0 0 0 0">
      <path d="" style="fill:currentcolor; fill-rule:evenodd; stroke-width:0;"></path>
    </symbol>
  </svg>
</div>
