---
import AnalyticsBody from '@components/Analytics/AnalyticsBody.astro'
import AnalyticsFooter from '@components/Analytics/AnalyticsFooter.astro'
import AnalyticsHead from '@components/Analytics/AnalyticsHead.astro'
import Footer from '@components/Footer/Footer.astro'
import Head from '@components/Head/Head.astro'
import Header from '@components/Header/Header.astro'
import type { PageNameType } from '@type/PageDataListType'

import { siteConfig } from '@/siteConfig'

export interface Props {
  pageName: PageNameType
  meta?: {
    title?: string
    description?: string
  }
}

const { pageName, meta } = Astro.props
---

<!doctype html>
<html lang="ja">
  <Head pageName={pageName} meta={meta}>
    <AnalyticsHead />
  </Head>
  <body>
    <AnalyticsBody />
    <Header title={siteConfig.siteName} />
    <slot />
    <Footer title={siteConfig.siteName} />
    <AnalyticsFooter />
  </body>
</html>
