---
const { className, ...attr } = Astro.props
---

<div class={className} {...attr}>
  <slot />
</div>

<style lang="scss">
  div {
    @include mqw-up {
      padding-right: var(--space-md);
      padding-left: var(--space-md);

      @include mqw-up(xmd) {
        padding-right: var(--space-xmd);
        padding-left: var(--space-xmd);
      }

      @include mqw-up(lg) {
        padding-right: var(--space-lg);
        padding-left: var(--space-lg);
      }

      @include mqw-up(xl) {
        padding-right: var(--space-xl);
        padding-left: var(--space-xl);
      }

      @include mqw-up(xl2) {
        padding-right: var(--space-xl2);
        padding-left: var(--space-xl2);
      }

      @include mqw-up(xl3) {
        padding-right: var(--space-xl3);
        padding-left: var(--space-xl3);
      }
    }

    @include mqw-down {
      padding-right: var(--space-sm);
      padding-left: var(--space-sm);
    }

    @include mqw-down(xs) {
      padding-right: var(--space-xs);
      padding-left: var(--space-xs);
    }
  }
</style>
