<div>
  <slot />
</div>

<style lang="scss">
  div {
    @include mqw-up {
      padding-right: var(--space-md);
      padding-left: var(--space-md);

      @include mqw-up(xmd) {
        padding-right: var(--space-xmd);
        padding-left: var(--space-xmd);
      }

      @include mqw-up(lg) {
        padding-right: var(--space-lg);
        padding-left: var(--space-lg);
      }
    }

    @include mqw-down {
      padding-right: var(--space-sm);
      padding-left: var(--space-sm);
    }

    @include mqw-down(xs) {
      padding-right: var(--space-xs);
      padding-left: var(--space-xs);
    }
  }
</style>
