@charset "utf-8";

@use './icon-ini.scss' as *;
@use '../functions' as *;

@mixin arrow($width, $bold, $color, $deg) {
  @include icon-ini;

  width: rem($width);
  height: rem($width);
  vertical-align: middle;
  border-color: $color;
  border-style: solid;
  border-width: 0 rem($bold) rem($bold) 0;

  // 角度
  @if $deg == 'left' {
    transform: rotate(135deg);
  } @else if $deg == 'top' {
    transform: rotate(225deg);
  } @else if $deg == 'right' {
    transform: rotate(-45deg);
  } @else if $deg == 'bottom' {
    transform: rotate(45deg);
  }
}
