@charset "utf-8";

@use '../functions' as *;
@use './icon-ini.scss' as *;

@mixin arrow($width, $bold, $color, $deg) {
  @include icon-ini;

  width: #{$width}px;
  height: #{$width}px;
  vertical-align: middle;
  border-color: $color;
  border-style: solid;
  border-width: 0 #{$bold}px #{$bold}px 0;

  // 角度
  @if $deg == 'left' {
    transform: rotate(135deg);
  } @else if $deg == 'top' {
    transform: rotate(225deg);
  } @else if $deg == 'right' {
    transform: rotate(-45deg);
  } @else if $deg == 'bottom' {
    transform: rotate(45deg);
  }
}
