@charset "utf-8";

@use 'sass:math';
@use './icon-ini.scss' as *;
@use '../functions' as *;

@mixin aspect-ratio($number-a, $number-b) {
  // 2つの最大公倍数を求め、aspect-ratio: 16 / 9;の様な出力をする
  // 例: $number-a = 640, $number-b = 480の場合、aspect-ratio: 4 / 3;と出力される
  $gcd: gcd($number-a, $number-b);
  $a: math.div($number-a, $gcd);
  $b: math.div($number-b, $gcd);

  aspect-ratio: #{$a} / #{$b};
}
