@charset "utf-8";

@mixin ellipsis($is-clamp: false, $line: 2) {
  @if $is-clamp {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: $line;
  } @else {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
