@charset "utf-8";

@use 'sass:map';
@use '../breakpoints' as *;
@use './icon-ini' as *;
@use './canhover' as *;

@mixin hover-dark($darken: 100%, $ms: false, $ease: false) {
  @include canhover {
    @if $ease {
      transition: color $ms $ease;
    } @else {
      transition: color var(--com-ms) var(--com-es);
    }

    &:hover {
      color: rgb(var(--color-black-rgb) / $darken);
    }
  }
}
