@charset "utf-8";

@mixin mq($size, $px: false) {
  // retina only
  @if $size == 'retina2x' {
    @media (resolution >= 2dppx) {
      @content;
    }
  }

  // retina only
  @if $size == 'retina3x' {
    @media (resolution >= 3dppx) {
      @content;
    }
  }
  @if $px {
    @if $size == 'max-width' {
      @media screen and (max-width: $px) {
        @content;
      }
    } @else if $size == 'min-width' {
      @media screen and (min-width: $px) {
        @content;
      }
    } @else if $size == 'max-height' {
      @media screen and (max-height: $px) {
        @content;
      }
    } @else if $size == 'min-height' {
      @media screen and (min-height: $px) {
        @content;
      }
    }
  }
}
