@charset "utf-8";

@use 'sass:math';

// Inspired by https://wearerequired.github.io/fluidity/
@mixin responsive-font-size($fontSizeMin, $fontSizeMax, $viewport-width-min, $viewport-width-max) {
  // $viewport-width-minからpxを削除
  $viewport-width-min: math.div($viewport-width-min, 1px);

  // $viewport-width-maxからpxを削除
  $viewport-width-max: math.div($viewport-width-max, 1px);

  // Xの計算
  $x: math.div($fontSizeMax - $fontSizeMin, $viewport-width-max - $viewport-width-min);

  // Yの計算
  $y: $fontSizeMax - ($viewport-width-max * $x);

  // Zの計算
  $x: $x * 100;

  // clamp関数でフォントサイズを設定
  font-size: clamp(#{$fontSizeMin}px, calc(#{$y}px + #{$x}vw), #{$fontSizeMax}px);
}
