---
export interface Props {
  title: string
  href: string
}

const { href, title } = Astro.props
---

<a href={href} title={title} rel="prefetch">
  {title}
</a>

<style lang="scss">
  a {
    @include mqw-down {
      padding: rem(20) 0;
      padding-right: map.get($map: $space, $key: sm);
      padding-left: map.get($map: $space, $key: sm);
      text-align: center;

      @include notfirst {
        border-top: 1px solid #eee;
      }
    }

    @include mqw-down(xs) {
      padding-right: map.get($map: $space, $key: xs);
      padding-left: map.get($map: $space, $key: xs);
    }
  }
</style>
